@import 'src/components/PremiaZnanie/PremiaZnanie.module.scss';

.introduction_wrapper {
    @include maxPcWidth;
    @include pcWidth {
        position: relative;
        max-width: calc(100vw - (30px));
        max-height: 800px;
        background: url('/images/PremiaZnanie/znanieintroductionback.jpg')
            center/cover no-repeat;
        border-radius: 30px;
        margin: 40px auto 150px;
        padding-bottom: 150px;
    }
    @include phoneOrTablet {
        min-height: 680px;
        width: calc(100% - (30px));
        margin: 40px auto 0;
        border-radius: 30px;
    }
}

.introduction_video {
    @extend .video;
    @include phoneOrTablet {
        max-width: calc(100% - (30px));
        max-height: 680px;
    }
}
.introduction {
    position: relative;
    padding: 30px;
    z-index: 1;
    @include phoneOrTablet {
        padding: 17px;
        min-height: inherit;
        max-height: 680px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include phone {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
}

.introduction_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduction_znanielogo {
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.02);
        transition: transform 0.3s;
    }
    @include phoneOrTablet {
        height: 39px;
        width: 109px;
    }
}

.introduction_menu {
    height: 15px;
    width: 25px;
    color: white;
    cursor: pointer;
}

.introduction_request {
    width: 80%;
    text-align: left;
    padding: 110px 40px;
    @include tablet {
        padding: 0 0 50px 0;
    }
    @include phone {
        width: 100%;
        text-align: center;
        padding: 60px 0 0 0;
    }
}

.introduction_request_info {
    font-size: 1.75em;
    color: white;
    &:before {
        content: '';
        height: 1px;
        width: 80px;
        position: absolute;
        top: 250px;
        background: white;
        @include tablet {
            display: none;
        }
        @include phone {
            width: 80px;
            top: calc(22% + 24px);
            transform: translate(-50%);
            left: 50%;
            z-index: 1;
        }
    }
    @include phoneOrTablet {
        font-size: 20px;
    }
}

.introduction_request_award {
    font: {
        size: 90px;
        weight: 400;
    }
    letter-spacing: -0.02em;
    line-height: 104px;
    color: white;
    text-transform: uppercase;
    padding: 94px 0;
    @include tablet {
        font-size: 64px;
        line-height: 70px;
        padding: 25px 0 50px 0;
    }
    @include phone {
        font-size: 36px;
        line-height: 38px;
        padding: 150px 0 0 0;
    }
}

@import 'src/sccs/globals';

.button {
    font-size: 18px;
    padding: 20px 75px;
    border-radius: 10px;
    text-align: center;
}

.introduction_request_button {
    @extend .button_style;
    color: black;
    background: white;
    transition: 0.5s all;
    border: none;
    &:hover,
    &:after {
        background: #ececec;
        transition: 0.5s all;
        cursor: pointer;
    }
    @include phoneOrTablet {
        font-size: 16px;
        padding: 15px 88px;
    }
    @include phone {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        font-size: 14px;
        margin: 160px auto 88px auto;
    }
}

