@import "components/UI/Inputs/InputSelect/SearchList/SearchList.module";

.searchlist_lector_image_wrapper {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 10px;
}

.searchlist_lector_image {
  border-radius: 10px;
  margin-left: 5px;
}