@import 'src/components/PremiaZnanie/PremiaZnanie.module.scss';

.partners_layout {
    background: url('/images/PremiaZnanie/partnersbg.png') center/cover
        no-repeat;
}

.partners {
    @include pcWidth {
        @include minPcWidth;
        padding: 200px 0 220px 0;
    }
    @include bigtablet {
        @include center;
        padding: 50px 0 90px 0;
    }
}

.partners_title {
    @include mainTitle;
    color: white;
    padding-bottom: 50px;
}

.partners_cards {
    display: flex;
    flex-flow: row wrap;
    background: white;
}

.partners_card {
    @include displayFlexCenter;
    min-height: 249px;
    width: 25%;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    @include bigtablet {
        width: 33.3333%;
        min-height: 125px;
    }
    @include phoneOrTablet {
        width: 50%;
    }
}

.partners_card_img {
    position: relative;
    min-width: 190px;
    min-height: 154px;
    @include bigtablet {
        min-height: 77px;
        min-width: 120px;
    }
}
