@import "src/sccs/globals";

.lectors_card {
  display: grid;
  grid-template-areas:
          "img title"
          "img text";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 15px 0;
  max-width: 90%;
  text-align: left;
  @include phoneOrTablet {
    grid-column-gap: 5px;
    grid-row-gap: 0;
    padding: 5px;
  }
}

.lectors_card_img_wrapper {
  grid-area: img;
  display: block;
  position: relative;
  width: 114px;
  height: 114px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  @include phoneOrTablet {
    width: 44px;
    height: 44px;
  }
}

.lectors_card_img {
  object-fit: cover;
  border-radius: 10px;
  transition: 0.2s all;
}


.lectors_card_title_wrapper {
  grid-area: title;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 26px;
  line-height: 32px;
  @include phoneOrTablet {
    font-size: 14px;
    line-height: 20px;
  }
}

.lectors_card_text_wrapper {
  min-width: 200px;
  position: relative;
  grid-area: text;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #666c77;
  @include phoneOrTablet {
    font-size: 12px;
  }
}

.lectors_card_text_wrapper {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 22px;
  @include phoneOrTablet {
    font-size: 12px;
    line-height: 16px;
  }
}

.lectors_card_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}