@import "src/sccs/globals";

.profile_container {
  @include minPcWidth;
  display: flex;
  flex-direction: row;
  margin: 30px auto 60px;
  @include thousendTwoWidth {
    flex-direction: column;
  }
}



.profile_content_container {
  position: relative;
  width: 100%;
  border: 1px solid #dfe1e3;
  border-radius: 22px;
  padding: 0 30px;
  margin-left: 40px;
  @include thousendTwoWidth {
    margin-left: 0;
    margin-top: 20px;
  }
}

