@import 'src/components/UI/Events/EventItem/EventItem.module.scss';
@import "src/components/Profile/UserContent/Events/Events.module";

.dashboard_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dashboard_header_button {
  text-align: center;
  max-height: 46px;
  padding: 10px 20px;
  background: transparent;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  white-space: nowrap;
  cursor: pointer;
}

.dashboard_header_button_create {
  @extend .dashboard_header_button;
  min-width: 150px;
  color: white;
  background: #318CE7;
  transition: .2s all ease-in-out;

  &:hover {
    background: #2C7DCE;
  }

  &:active {
    background: #2365A6;
  }
}

.dashboard_events_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 20px;
  @include phoneOrTablet {
    grid-template-columns: repeat(1, 1fr);
  }
}




