@import 'src/components/PremiaZnanie/PremiaZnanie.module.scss';

.stagesjury_bg {
    background: url('/images/PremiaZnanie/jurybg.png') center/cover no-repeat;
}

.stages_layout {
}

.stages {
    @include pcWidth {
        @include minPcWidth;
        padding: 100px 0 150px 0;
    }
    @include phoneOrTablet {
        @include center;
    }
}

.stages_title {
    @include mainTitle;
    @include pcWidth {
        padding-bottom: 50px;
    }
    @include phoneOrTablet {
        padding: 50px 0 38px 0;
        font-size: 28px;
    }
}

.stages_info_wrapper {
    width: 100%;
    overflow: hidden;
}

.stages_info {
    width: 100%;
    display: flex;
    overflow-x: auto;
    border-top: 2px solid $main-color;
    padding: 20px 0 10px;
}

.stages_info_item_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed $main-color;
        left: 0;
        bottom: 6px;
    }

    &:before {
        content: '';
        position: absolute;
        height: 14px;
        width: 14px;
        background-color: $main-color;
        bottom: 0;
        left: 0;
        border-radius: 50%;
    }
}

.stages_info_item {
    @include pcWidth {
        min-width: 277px;
    }
    padding: 44px 0;
    @include phoneOrTablet {
        min-width: 190px;
    }
}

.stages_info_text {
    padding-bottom: 45px;
}

.stages_info_decryption {
    font: {
        weight: 400;
        size: 22px;
    }
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: -1px;
    @include phoneOrTablet {
        font-size: 20px;
    }
}

.jury_layout {
}

.jury {
    @include pcWidth {
        @include minPcWidth;
        display: flex;
        justify-content: space-between;
        padding-bottom: 110px;
        border-bottom: 2px solid $main-color;
    }
    @include bigtablet {
        @include center;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid $main-color;
        padding-bottom: 20px;
    }
}

.jury_text_wrapper,
.fulltime_text_wrapper {
    text-align: left;
    width: 50%;
    @include bigtablet {
        width: 100%;
    }
}

.jury_title,
.fulltime_title {
    @include mainTitle;
    padding-bottom: 50px;
    @include bigtablet {
        padding: 66px 0 35px 0;
        font-size: 28px;
    }
}

.jury_text,
.fulltime_text {
    @include text;
    padding-bottom: 40px;
    @include bigtablet {
        font-size: 18px;
        padding-bottom: 25px;
    }
}

.jury_text_span,
.fulltime_text_span {
    font-weight: bold;
    color: #181818;
}

.jury_img {
    margin-right: 95px;
    background: url('/images/PremiaZnanie/jury.png');
    height: 392px;
    width: 196px;
    @include bigtablet {
        display: none;
    }
}

.fulltime_layout {
}

.fulltime {
    @extend .jury;
    @include pcWidth {
        padding: 70px 0;
    }
    border-bottom: 2px solid $main-color;
}

.fulltime_img {
    position: relative;
    height: 331px;
    width: 331px;
    @include bigtablet {
        display: none;
    }
}

.fulltime_title {
    @include bigtablet {
        padding: 40px 0 35px 0;
    }
}
