@import "src/sccs/globals";

.main_container {}

.become_someone{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  @include thousendWidth {
    flex-direction: column;
  }
}

.become {
  max-width: 419px;
  padding: 24px 14px;
  box-shadow: 0 10px 30px 0 rgb(222 230 237 / 60%);
  border-radius: 20px;
  @include thousendWidth {
    flex-direction: column;
  }
  @include phoneOrTablet {
    margin: 0 auto;
  }
}

.become_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.become_title {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
}

.become_img_wrapper {
  min-width: 55px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b498eb;
  border-radius: 20px;
}

.become_img {
  height: 22px;
  width: 22px;
}

.main_events_container {
  position: relative;
  overflow-y: hidden;
}

.events_nav {
  width: 100%;
  color: #666c77;
  overflow-x: auto;
  border: none;
  scroll-behavior: smooth;
  white-space: nowrap;
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    height: 0;
  }
}

.events_button {
  font-size: 15px;
  padding: 5px 0;
  transition: .3s all ease-in-out;
  cursor: pointer;
  &:hover {
    color: black;
    transition: .3s all ease-in-out;
  }
  &:first-child {
    margin-right: 15px;
  }
  &:last-child {
    margin-left: 15px;
  }
  @include phoneOrTablet {
    font-size: 13px;
  }
}

.events_button_active {
  @extend .events_button;
  color: black;
}