@import 'components/PremiaZnanie/PremiaZnanie.module.scss';

.prize_about {
    @include pcWidth {
        @include minPcWidth;
        max-height: 427px;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            'title dectitle'
            'logo  dectext';
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        text-align: left;
    }
    @include phoneOrTablet {
        text-align: left;
        @include center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        border-bottom: 2px solid $main-color;
    }
}

.prize_title {
    grid-area: title;
    @include mainTitle;
    @include phoneOrTablet {
        font-size: 28px;
        padding-bottom: 30px;
    }
}

.prize_video {
    grid-area: logo;
    max-height: 296px;
    max-width: 322px;
    @include phoneOrTablet {
        padding-top: 40px;
        order: 5;
        margin: 0 auto 35px auto;
    }
}

.prize_about_title {
    grid-area: dectitle;
    @include title;
    @include phoneOrTablet {
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 32px;
    }
}

.prize_about_text {
    grid-area: dectext;
    @include text;
    line-height: 26px;
    @include phoneOrTablet {
        font-size: 15px;
        line-height: 20px;
    }
}

.nominations_layout {
    background: url('/images/PremiaZnanie/prizebg.jpg') bottom/cover no-repeat;
    padding-top: 25px;
}

.nominations_wrapper {
    @include pcWidth {
        @include minPcWidth;
        display: grid;
        grid-template-areas:
            'maintitle info main'
            'lists laureates special';
        grid-template-columns: 1fr 0.45fr 0.55fr;
        grid-template-rows: repeat(2, minmax(140px, auto));
        border: {
            top: 2px solid $main-color;
            bottom: 2px solid $main-color;
        }
        padding: 96px 0;
    }
    @include phoneOrTablet {
        @include center;
        display: grid;
        grid-template-areas:
            'maintitle maintitle'
            'info laureates'
            'lists lists'
            'main main'
            'special special';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, minmax(70px, auto));
        border: {
            bottom: 2px solid $main-color;
        }
    }
}

.nomination_title {
    @include mainTitle;
    grid-area: maintitle;
    @include phoneOrTablet {
        font-size: 28px;
    }
}

.nominators_wrapper {
    grid-area: lists;
    @include phoneOrTablet {
        padding-top: 39px;
    }
}

.nomination_about_title {
    @include title;
    padding-bottom: 30px;
}

.nomination_about_list {
}

.nomination_about_list_item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $text-color;
    line-height: 30px;

    &:before {
        content: '⚫';
        font-size: 6px;
        padding: 0 9px;
        color: $text-color;
    }
}

.nomination_info {
    grid-area: info;
}

.nomination_info_count {
    font: {
        size: 60px;
        weight: 400;
    }
    color: $main-color;
    line-height: normal;
}

.nomination_info_decryption {
    font-size: 16px;
    color: #666c77;
}

.nomination_laureates {
    grid-area: laureates;
    @include pcWidth {
        padding-top: 40px;
    }
}

.nomination_about_main {
    grid-area: main;
    padding-top: 39px;
}

.nomination_main_title,
.nomination_special_title {
    @include title;
    @include pcWidth {
        padding-bottom: 25px;
    }
}

.nomination_main_text,
.nomination_special_text {
    @include text;
    line-height: 24px;
}

.nomination_about_special {
    grid-area: special;
    @include pcWidth {
        padding-top: 40px;
    }
    @include phoneOrTablet {
        padding: 48px 0 40px 0;
    }
}

.nominate_everyone_wrapper {
    @include pcWidth {
        @include minPcWidth;
        display: flex;
        justify-content: space-between;
        padding: 90px 0 100px 0;
    }
    @include phoneOrTablet {
        @include center;
        display: flex;
        flex-direction: column;
        padding-top: 38px;
    }
}

.nominate_everyone {
    @include pcWidth {
        max-width: 40%;
    }
    display: flex;
    flex-direction: column;
    text-align: left;
}

.nominate_everyone_title {
    @include mainTitle;
    @include pcWidth {
        padding-bottom: 55px;
    }
    @include phoneOrTablet {
        font-size: 28px;
        padding-bottom: 23px;
    }
}

.nominate_everyone_text {
    @include text;
    padding-bottom: 36px;
}

.nominate_everyone_img_wrapper {
    position: relative;
    @include pcWidth {
        min-width: 248px;
        max-height: 312px;
        margin: 0 90px;
    }
    @include phoneOrTablet {
        min-height: 214px;
        min-width: 170px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
}

.nominate_everyone_img {
    object-fit: contain;
}
