@import 'components/LoginModal/Login/Login.module.scss';
@import "sccs/globals";

.code_message {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 15px;
  background: white;
  border-radius: 10px;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #426fff;
  @include phoneOrTablet {
    padding: 10px;
    font-size: 12px;
  }
  @include phone {
    padding: 5px;
    left: 5px;
    top: 5px;
  }
}

.checkPin_form {
  width: 440px
}

.check_description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.change_button {
  color: #426fff;
  outline: none;
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.pin_code_input_wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0 20px;
}

.inputs_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_cell {
  width: 58px;
  height: 58px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f5f6f7;
  border: 1px solid #afc1d9;
  border-radius: 12px;
  outline: none;
  margin-right: 12px;
  transition: .3s all ease-in-out;
  &:focus {
    border-color: #426fff;
    transition: .3s all ease-in-out;
  }
  &:last-child {
    margin-right: 0;
  }
}

.input_cell_error {
  @extend .input_cell;
  border: 1px solid #ed694a;
  &:focus {
    border: 1px solid #ed694a
  }
}

.input_error_label {
  width: 100%;
  color: #ed694a;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-top: 10px;
}